\title{ <<title>> }
{% if subtitle %}
    \subtitle{<<subtitle>>}
{% endif %}
{% if authors %}
    \author{<<authors>>}
{% endif %}
{% if institute %}
    \institute{<<institute>>}
{% endif %}
{% if date %}
    \date{<<date>>}
{% endif %}
\frame{\titlepage}